.counter-footer {
  background-color: oklch(98.5% 0.002 247.839);
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.counter-footer__text {
  color: oklch(44.6% 0.03 256.802);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
