:host {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  display: block;
}

.counter-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient(
    90deg,
    oklch(58.5% 0.233 277.117),
    oklch(55.8% 0.288 302.321)
  );
  padding: 1.5rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

.counter-title {
  color: #fff;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
}

.counter-description {
  color: #fff;
}

.counter-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
  width: 100%;
}

.counter-footer {
  background-color: oklch(98.5% 0.002 247.839);
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.counter-footer__text {
  color: oklch(44.6% 0.03 256.802);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Estilos do display do contador */
.counter-display {
  font-size: 4.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
}

.counter-display.animate {
  animation: scale 0.3s ease;
}

.counter-display.positive {
  color: oklch(52.7% 0.154 150.069);
}

.counter-display.negative {
  color: oklch(57.7% 0.245 27.325);
}

.counter-display.zero {
  color: oklch(27.8% 0.033 256.848);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos das ações do contador */
.counter-actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  :last-child {
    grid-column: 1 / -1;
  }
}

.btn {
  font-family: inherit;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  &.btn-decrement {
    background-color: oklch(57.7% 0.245 27.325);
    color: #fff;

    &:hover {
      background-color: oklch(50.5% 0.213 27.518);
    }
  }

  &.btn-reset {
    background-color: oklch(55.1% 0.027 264.364);
    color: #fff;

    &:hover {
      background-color: oklch(44.6% 0.03 256.802);
    }
  }

  &.btn-increment {
    background-color: oklch(52.7% 0.154 150.069);
    color: #fff;

    &:hover {
      background-color: oklch(44.8% 0.119 151.328);
    }
  }
}

/* Respeitar preferências de acessibilidade */
@media (prefers-reduced-motion: reduce) {
  .counter-display.animate {
    animation: none;
  }

  .counter-display {
    transition: none;
  }
}

@media (width >= 40rem) {
  .counter-card {
    width: 28rem;
  }

  .counter-actions {
    grid-template-columns: repeat(2, 1fr);
  }
}
